# OS X
.DS_Store

## Build generated
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

## Bundler
.bundle

## Other
*.moved-aside
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build
Carthage/Checkouts